<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>ABC Company Page 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
  </head>

  <body>
    <header>
      <h1>ABC Company</h1>
      <h2>Secondary Page Page</h2>
    </header>

    <main>
      <h2>An Example Secondary Page</h2>
      <p><%=sampleData%></p>
      <p><a href="/dynamic">Home</a></p>
    </main>

    <footer>
      <address>&copy; 2023 Firstname Lastname</address>
    </footer>
  </body>

</html>