<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Circles</title>
  </head>

  <body>
    <header>
      <h1>Circles</h1>
    </header>


    <section>

  
    </section>

    <section>
      <h2>Enter Circle Radius</h2>
      <form method="post" action="/mvc_model/circle">
        <div><label for="rad">Radius:
          <input type="text" name="radius" id="rad" pattern="\d+(\.?\d*)">
        </label></div>
        <div><button type="submit">Make A Circle</button></div>
      </form>
    </section>
  
    
    <footer>
      <address>&copy; 2023 Your Name Here</address>
    </footer>
  </body>
</html>